//FONT
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$fancy-font: 'Nerko One', cursive, sans-serif;

//BACKGROUND
$primary-background: #282c34;

//FONT WEIGHT
$primary-weight: 800;
$secondary-weight: 500;

.background {
  background: $primary-background;
  color: white;
  min-height: 100vh;
  // height: 100%;
  font-family: $primary-font;
  cursor: grab;
}

.banner_background {
  background: linear-gradient(135deg, #c3ec52 0%, #0ba29d 100%);
  border-radius: 15px;
  height: 30vh;
  margin: 1rem 2rem 2rem 2rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_title {
  display: inline-block;
  color: $primary-background;
  border-radius: 30px;
  padding: 1rem;
  font-size: 5rem;
  font-family: $fancy-font;
  font-weight: $secondary-weight;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature_card {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  border-radius: 15px;
  padding: 1rem;
  font-family: $primary-font;
  font-weight: $secondary-weight;
  margin: 1rem 1rem 1rem 2rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.feature_card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px rgb(143, 140, 140);
}

.feature_title {
  font-family: $primary-font;
  font-weight: $secondary-weight;
  font-size: 20px;
}

.activity {
  display: flex;
  align-items: center;
  height: 32rem;
  margin-right: 2rem;
  background: linear-gradient(135deg, #fcdf8a 0%, #f38381 100%);
  overflow-y: 'scroll';
}

.activity_title {
  background-color: #0ba29d;
  font-family: $secondary-font;
  font-size: 25px;
  width: 20rem;
  border-radius: 25px;
  padding: 10px;
}

.student {
  background-color: #0ba29d;
  height: 5rem;
  color: #282c34;
}

.student_card {
  background-color: #f38381;
  width: 18rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.no_student {
  background: #f38381;
  width: auto;
  padding: 10px;
}

.form {
  width: 20rem;
}

// HELPER
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
